!!! 5
%html{lang:"ja"}
  %head
    %meta{charset:"UTF-8"}
    %title 法令解析システム
    %link{rel:"Stylesheet", href:"/tmp/style.css"}
    %script{src:"http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"}
    %script{src:"/script.js"}
  %body
    .header
      .menu
        %a{href:"/"} 法令解析システム
        %a{href:"/laws"} 法令一覧
        %hr
    .container
      =yield

