!!! 5
%html{lang:"ja"}
  %head
    %meta{charset:"UTF-8"}
    %link{rel:"Stylesheet", href:"/tmp/style.css"}
    %title 法令解析システム
  %body
    .header
      .menu
        %a{href:"/"} 法令解析システム
        %a{href:"/laws"} 法令一覧
        %hr
    .container
      =yield

