/* layout */

*
	font-size: 12px
	margin: 0
	padding: 0
body
	overflow-y: scroll
.header
	border: 0
	position: fixed
	width: 100%
	background: green
	border-bottom: 2px solid black
	.menu
		width: 880px
		margin: 0 auto
		border: 0
		a
			border: 0
			border-left: 1px solid #0c0
			display: block
			text-decoration: none
			font-size: 16px
			line-height: 16px
			font-weight: bold
			float: left
			color: white
			padding: 20px
			&:hover
				background: #3f3
				color: black
hr
	clear: both
	height: 0
	border: 0
.container
	width: 880px
	margin: 0 auto
	border-left: 1px solid #ccc
	border-right: 1px solid #ccc
	padding: 75px 20px 10px 20px
h1
	text-align: center
	border-bottom: 1px solid green
	font-size: 40px
	margin-bottom: 20px
h2
	text-align: center
	font-size: 30px
h3
	width: 740px
	margin: 20px auto
	font-size: 18px
	color: green

/* top */

.enter
	display: block
	font-size: 30px
	color: blue
	padding: 80px
	margin: 80px
	border-radius: 30px
	background: #cc6
	text-align: center
	&:hover
		background: #ff9

/* laws */

p
	padding: 8px 0 8px 45px
p.group
	span
		display: inline-block
		width: 150px
p.type
	span
		display: inline-block
		width: 90px
input[type=text]
	font-size: 16px

table
	border-collapse: collapse
	margin: 0 auto
	th
		background: black
		color: white
		border: 1px solid #999
		padding: 5px
	td
		border: 1px solid black
		padding: 3px 6px
		a
			display: block
			padding: 3px
			&:hover
				background: #ffe5cc
				color: black
table.laws
	th,td
		&:nth-child(1)
			width: 130px
		&:nth-child(2)
			width: 85px
		&:nth-child(3)
			width: 310px
		&:nth-child(4)
			width: 260px
	td
		&:nth-child(3)
			padding: 0
table.similarity
	th,td
		&:nth-child(1)
			text-align: center
			width: 50px
		&:nth-child(2)
			width: 70px
		&:nth-child(3)
			width: 600px

/* article */

.c1
	color: black
.c2
	color: #090
	margin-left: 80px
.c3
	color: #009
	margin-left: 160px
.c4
	margin: 20px auto
	padding: 0
	padding-left: 4em
	text-indent: -4em
	width: 700px
	span
		font-size: 16px
.tit
	font-weight: bold
.error
	font-size: 15px
	color: red
	font-weight: bold

